## Часть 1: Введение в Pandas

Pandas - это библиотека Python для работы с данными. Она предоставляет мощные инструменты для анализа и манипуляции данными.

### Установка Pandas

Для начала убедитесь, что у вас установлена библиотека Pandas. Если ее нет, установите ее с помощью команды:

In [5]:
!pip install pandas

"pip" �� ���� ����७��� ��� ���譥�
��������, �ᯮ��塞�� �ணࠬ��� ��� ������ 䠩���.

## Импорт библиотеки
Давайте начнем с импорта библиотеки Pandas:

In [6]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

## Часть 2: Работа с данными
### Чтение данных
Мы будем использовать датасет Titanic. Давайте прочитаем данные из CSV файла.

In [ ]:
prikol = pd.read_csv('titanic.csv')

### Предпросмотр данных
Для первого ознакомления с данными давайте выведем первые несколько строк.

In [ ]:
prikol.head(3)

### Информация о данных
Чтобы получить общую информацию о данных, воспользуйтесь методом .info().

In [ ]:
prikol

### Работа с NaN
Часто данные содержат пропущенные значения, которые представляются как NaN (Not a Number). Pandas предоставляет удобные методы для работы с ними.

Проверка на наличие NaN. Методы fillna и dropna возвращают новые Dataframe, проверьте нет ли в них NaN

In [2]:
prikol.isna()

Заполнение NaN

In [ ]:
prikol.fillna(0)

Удаление строк с NaN

In [3]:
prikol.dropna()

## Часть 3: Обработка DataFrame
### Выбор данных
Pandas позволяет выбирать данные по индексам, меткам столбцов и условиям.

In [4]:
prikol['Age']

prikol[['Pclass','Embarked']]

prikol.loc[1]

prikol.loc[(prikol['Sex'] == 'male') & (prikol['Age'] > 20)]

### Сортировка данных
Сортировка данных по значениям столбцов.

In [5]:
prikol.sort_values('Age')

### Группировка данных
Pandas также позволяет группировать данные и выполнять агрегирующие операции.

In [6]:
prikol.groupby(['Pclass'])['Survived'].mean()

## Часть 4: Задания для практики
Прочитайте данные из файла 'titanic.csv'.
Проверьте, есть ли пропущенные значения в данных и заполните их нулями.
Выведите первые 10 строк данных.
Выберите только те строки, где значение в столбце 'Age' больше 30.
Отсортируйте данные по столбцу 'Fare' в порядке убывания.
Сгруппируйте данные по столбцу 'Pclass' и вычислите средний возраст ('Age') для каждого класса.

In [7]:
prikol.isna()

prikol = prikol.fillna(0)

prikol.head(10)

prikol.loc[prikol['Age'] > 30]

prikol.sort_values(by='Fare', ascending=False)

prikol.groupby(['Pclass'])['Age'].mean()

NameError: name 'prikol' is not defined